{
  "arrowParens": "always",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "embeddedLanguageFormatting": "off",
  "endOfLine": "auto",
  "experimentalOperatorPosition": "end",
  "experimentalTernaries": true,
  "jsxSingleQuote": true,
  "objectWrap": "preserve",
  "printWidth": 120,
  "proseWrap": "preserve",
  "quoteProps": "consistent",
  "semi": true,
  "singleAttributePerLine": false,
  "trailingComma": "all",
  "useTabs": false
}
